.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 0.9em;
  margin: 8px;
}
.partido {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  width: 30%;
  position: relative;
  float: left;
}
.botones{
  margin-top: 1.2rem;
  margin-left: 35%;
}
.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #40cbcb; /* #c8ccd4 */
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff; /* Círculo interior del botón */
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}
input[type="radio"][id="PSOE1"]:checked + .label:after {
  border-color: forestgreen; /* Radio de fuera del botón */
  background: forestgreen; /* Círculo interior del botón */
}
input[type="radio"][id="PSOE2"]:checked + .label:after {
  border-color: crimson; /* Radio de fuera del botón */
  background: crimson; /* Círculo interior del botón */
}
input[type="radio"][id="PSOE3"]:checked + .label:after {
  border-color: coral; /* Radio de fuera del botón */
  background: coral; /* Círculo interior del botón */
}
input[type="radio"][id="PP1"] + .label:after {
  border-color: forestgreen; /* Radio de fuera del botón */
  background: forestgreen; /* Círculo interior del botón */
}
input[type="radio"][id="PP2"] + .label:after {
  border-color: crimson; /* Radio de fuera del botón */
  background: crimson; /* Círculo interior del botón */
}
input[type="radio"][id="PP3"] + .label:after {
  border-color: coral; /* Radio de fuera del botón */
  background: coral; /* Círculo interior del botón */
}
input[type="radio"][id="VOX1"] + .label:after {
  border-color: forestgreen; /* Radio de fuera del botón */
  background: forestgreen; /* Círculo interior del botón */
}
input[type="radio"][id="VOX2"] + .label:after {
  border-color: crimson; /* Radio de fuera del botón */
  background: crimson; /* Círculo interior del botón */
}
input[type="radio"][id="VOX3"] + .label:after {
  border-color: coral; /* Radio de fuera del botón */
  background: coral; /* Círculo interior del botón */
}

input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.hidden {
  display: none;
}
